# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: "agones.dev/v1"
kind: Fleet
metadata:
  name: {{ .Values.dedicated.name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.dedicated.replicas }}
  template:
    spec:
      ports:
        - name: default
          portPolicy: {{ .Values.dedicated.portPolicy }}
          containerPort: {{ .Values.dedicated.containerPort }}
          protocol: {{ .Values.dedicated.protocol }}
      template:
        spec:
          containers:
            - name: {{ .Values.dedicated.name }}
              image: {{ .Values.dedicated.image }}
              imagePullPolicy: IfNotPresent
              resources:
                requests:
                  cpu: {{ .Values.dedicated.resources.requests.cpu }}
                  memory: {{ .Values.dedicated.resources.requests.memory }}
                limits:
                  cpu: {{ .Values.dedicated.resources.limits.cpu }}
                  memory: {{ .Values.dedicated.resources.limits.memory }}

---
apiVersion: "autoscaling.agones.dev/v1"
kind: FleetAutoscaler
metadata:
  name: {{ .Values.dedicated.name }}-autoscaler
  namespace: {{ .Release.Namespace }}
spec:
  fleetName: {{ .Values.dedicated.name }}
  policy:
    type: {{ .Values.dedicated.autoscaler.type }}
    buffer:
      bufferSize: {{ .Values.dedicated.autoscaler.buffer.bufferSize }}
      minReplicas: {{ .Values.dedicated.autoscaler.buffer.minReplicas }}
      maxReplicas: {{ .Values.dedicated.autoscaler.buffer.maxReplicas }}