# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name:  {{ template "mmf.name" .}}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      run:  {{ template "mmf.name" .}}
  replicas: {{ .Values.mmf.replicas }}
  template:
    metadata:
      labels:
        run:  {{ template "mmf.name" .}}
    spec:
      containers:
        - name:  {{ template "mmf.name" .}}
          image: "{{ .Values.mmf.image.repository }}:{{ .Values.mmf.image.tag }}"
          imagePullPolicy: {{ .Values.mmf.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.mmf.containerPort }}

---
apiVersion: v1
kind: Service
metadata:
  name:  {{ template "mmf.name" .}}
  annotations:
    networking.gke.io/load-balancer-type: "Internal"
  namespace: {{ .Release.Namespace }}
  labels:
    run:  {{ template "mmf.name" .}}
spec:
  type: LoadBalancer
  loadBalancerIP: 10.128.0.30
  ports:
    - port: {{ .Values.mmf.servicePort }}
      targetPort: {{ .Values.mmf.servicePort }}
      protocol: TCP
  selector:
    run:  {{ template "mmf.name" .}}