# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

frontend:
  name: frontend
  replicas: 1
  containerPort: 8080
  servicePort: 80
  serviceType: LoadBalancer 
  image: 
    repository: local/space-agon-frontend
    tag: TAG
    imagePullPolicy: Always
  omCoreAddress: "https://om-core-976869741551.us-central1.run.app"

mmf:
  name: mmf
  replicas: 1
  containerPort: 50502
  serviceType: LoadBalancer
  servicePort: 50502
  image: 
    repository: local/space-agon-mmf
    tag: TAG
  imagePullPolicy: Always
  ipAddress: 10.128.0.30

director:
  name: director
  replicas: 1
  serviceAccountName: fleet-allocator
  image: 
    repository: local/space-agon-director
    tag: TAG
  imagePullPolicy: Always
  omCoreAddress: "https://om-core-976869741551.us-central1.run.app"
  mmfAddress: "http://10.128.0.30"
  mmfPort: 50502

dedicated:
  name: dedicated
  replicas: 1
  containerPort: 2156 
  protocol: TCP
  image: 
    repository: local/space-agon-dedicated
    tag: TAG
  imagePullPolicy: Always
  portPolicy: Dynamic
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 100m
      memory: 100Mi
  autoscaler:
    type: Buffer
    buffer:
      bufferSize: 1
      minReplicas: 0 
      maxReplicas: 1